<footer class="bg-green-700 text-white py-12 p-4">
    <div class="container mx-auto flex justify-between">
      <div class="w-1/4">
        <h3 class="text-xl font-bold mb-4">Desa Wisata Leuwi Malang</h3>
        <p>
          There are many variations of passages of Lorem Ipsum available, but
          the majority suffered alteration in some form.
        </p>
      </div>
      <div class="w-1/4 ml-8">
        <h3 class="text-xl font-bold mb-4">Quick Links</h3>
        <ul>
          <li><a href="#" class="hover:underline">Home</a></li>
          <li><a href="#" class="hover:underline">Kegiatan</a></li>
          <li><a href="#" class="hover:underline">Paket</a></li>
          <li><a href="produk-desa" class="hover:underline">Produk</a></li>
          <li><a href="#" class="hover:underline">Kontak</a></li>
        </ul>
      </div>
      <div class="w-1/4">
        <h3 class="text-xl font-bold mb-4">Contacts</h3>
        <p>+62xxxxxxxxxx</p>
        <p>info@desawisata.com</p>
      </div>
      <div class="w-1/4">
        <h3 class="text-xl font-bold mb-4">Location</h3>
        <p>
          Jl. Raya Desa Wisata No. 123, Kecamatan Indah, Kabupaten Sejahtera,
          Provinsi Bahagia
        </p>
      </div>
    </div>
    <div class="text-center mt-8">
      <p>&copy; 2024 All Rights Reserved</p>
    </div>
  </footer>
