<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AgroWista - Ulasan</title>
    <!-- <link href="/css/tailwind.css" rel="stylesheet" /> -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <div class="flex h-screen">
      <!-- Sidebar -->
      <%- include('partials/sidebar') %>

      <!-- Main content -->
      <div class="flex-1 overflow-y-auto">
        <header class="bg-white shadow">
          <div class="flex justify-between items-center px-4 py-3">
            <h2 class="text-xl font-semibold">Ulasan</h2>
            <div class="flex items-center">
              <input
                type="text"
                placeholder="Search"
                class="px-3 py-1 border rounded-md mr-4"
              />
              <div class="w-8 h-8 bg-gray-300 rounded-full"></div>
            </div>
          </div>
        </header>

        <main class="p-6">
            <div class="bg-white p-4 rounded-lg shadow">
                <%- content %>
            </div>

        </main>

        <footer class="bg-white text-center py-4 mt-6">
          <p>Copyright © 2024 All Rights Reserved</p>
        </footer>
      </div>
    </div>

    
  </body>
</html>
